vendor
/.idea
apps/**/var
var

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/Symfony/config/secrets/prod/prod.decrypt.private.php
/apps/Symfony/public/bundles/
/apps/Symfony/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
